<!-- <div
  class="auth-container container-fluid col-md-8 col-12 d-flex flex-column justify-content-center align-items-center"
>
  <form
    (ngSubmit)="onSubmit()"
    class="col-12 col-md-8 text-center d-flex flex-column justify-content-center align-items-center"
  >
    <h2>{{ isLoginMode ? "Login" : "Register" }}</h2>
    <div
      class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
    >
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        required
        class="input-field d-flex flex-column col-12"
      />
    </div>
    <div
      class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
    >
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        class="input-field d-flex flex-column col-12"
        required
      />
    </div>
    <div
      class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
    >
      <button type="submit" class="secondary-button">
        {{ isLoginMode ? "Login" : "Register" }}
      </button>
    </div>
  </form>
  <div class="col-12 col-md-8 d-flex flex-column align-items-center">
    <div
    class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
  >
    <button (click)="onSwitchMode()" class="primary-button">
      {{ isLoginMode ? "Switch to Register" : "Switch to Login" }}
    </button>
  </div>
  </div>
</div> -->

<div
  class="auth-container container-fluid col-md-8 col-12 d-flex flex-column justify-content-center align-items-center"
>
  <form
    (ngSubmit)="onSubmit(authForm)"
    #authForm="ngForm"
    class="col-12 col-md-8 text-center d-flex flex-column justify-content-center align-items-center"
  >
  <span *ngIf="successMessage" class="text-success">{{successMessage}}</span>
    <h2>{{ isLoginMode ? "Login" : "Register" }}</h2>
    <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span>
    <div
      class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
    >
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        required
        class="input-field d-flex flex-column col-12"
      />
    </div>
    <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span>
    <div
      class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
    >
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
        class="input-field d-flex flex-column col-12"
      />
    </div>

    <!-- Error message display -->
    <!-- <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div> -->

    <div
      class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
    >
      <button type="submit" class="secondary-button">
        {{ isLoginMode ? "Login" : "Register" }}
      </button>
    </div>
  </form>

  <div class="col-12 col-md-8 d-flex flex-column align-items-center">
    <div
      class="col-12 col-md-8 d-flex flex-column justify-content-start text-center"
    >
      <button (click)="onSwitchMode()" class="primary-button">
        {{ isLoginMode ? "Switch to Register" : "Switch to Login" }}
      </button>
    </div>
  </div>
</div>
